{% extends 'base.html'%}
{% block style %}
<style type="text/css">
    .box-flex{
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;            /* NEW, Spec - Opera 12.1, Firefox 20+ */
    } 
    .flex{
        width: 0;
        -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1;         /* OLD - Firefox 19- */
        /*width: 20%;*/           /*   For old syntax, otherwise collapses. */
        -webkit-flex: 1;          /* Chrome */
        -ms-flex: 1;              /* IE 10 */
        flsex: 1;
    }
    /* Optional: Makes the sample page fill the window. */
</style>
<script src="https://unpkg.com/vue-select@latest"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3Tji10eVgL2CRMW6U8AEFggEV-jLWmBk&libraries=visualization"></script>
{% endblock %}

{% block content %}
    <div class="card" id='enrollments'>
        <div class="card-header text-center">
                    <h5>Enrollments related</h5>
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="#" @click='current_tab=0' :class="current_tab==0?'active':''">State</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" @click='current_tab=1' :class="current_tab==1?'active':''">University</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div id='state_wrapper' v-show="current_tab==0">
                <div class="box-flex">
                    <div class="flex">
                        <canvas id="state_application_chart"></canvas>
                    </div>
                    <div class="flex">
                        <canvas id="state_offer_chart"></canvas>
                    </div>
                </div>
                <div class="box-flex">
                    <div class="flex">
                        <canvas id="state_offer_rate_chart"></canvas>
                    </div>
                    <div class="flex">
                    </div>
                </div>
            </div>
            <div id="university" v-show="current_tab==1">
                <div class="form-group">
                    <div class="input-group">
                        <div class="form-control">
                            <v-select :options="search_options" v-model="ready_to_add_uni" @search="onSearch"></v-select>
                        </div>
                        <button type="button" class="btn btn-primary" name='add_uni_btn' @click='add_plot_uni'>Add University</button>
                    </div>
                </div>
                <canvas id="uni_application_chart"></canvas>
                <canvas id="uni_offer_chart"></canvas>
                <canvas id="uni_offer_rate_chart"></canvas>
            </div>
        </div>
    </div>
    <br>
    <div class="card" id='HDR_research_income'>
        <div class="card-header text-center">
            <h5>Research related</h5>
        </div>
        <div class="card-body">
            <canvas id="2015_hdr_income"></canvas>
            <canvas id="2016_hdr_income"></canvas>
        </div>

    </div>
    <br>
    <div class="card" id='heatmap'>
        <div class="card-header text-center">
            <h5>Information heat map</h5>
            Shown by application number in 2017
        </div>
        <div class="card-body" style="height:700px">
            <div id="map" style="width: 100%; height: 100%"></div>
        </div>
    
    </div>
{% endblock  %}

{% block script %}
<script>
    Vue.component("v-select", VueSelect.VueSelect);
    var envm = new Vue({
        el: '#enrollments',
        data: {
            current_tab:0,
            loaded_summary: {},
            search_options:[],
            uni_char_inited:0,
            colors:[
                "rgb(54, 162, 235)",
                "rgb(75, 192, 192)",
                "rgb(201, 203, 207)",
                "rgb(255, 159, 64)",
                "rgb(153, 102, 255)",
                "rgb(255, 99, 132)",
                "rgb(255, 205, 86)",
                "rgb(98, 50, 96)"
            ],
            eac_line_chart: {},
            eoc_line_chart: {},
            eorc_line_chart: {},
            uni_application_line_chart:{},
            uni_offer_line_chart:{},
            uni_offer_rate_line_chart:{},
            eac_config: {
                type: 'line',
                data: {
                    labels: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017],
                    datasets: []
                },
                options: {
                    title: {
                        display: true,
                        text: 'Application'
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Year'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Number'
                            }
                        }]
                    },
                }
            },
            eoc_config: {
                type: 'line',
                data: {
                    labels: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017],
                    datasets: []
                },
                options: {
                    title: {
                        display: true,
                        text: 'Offer'
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Year'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Number'
                            }
                        }]
                    },
                }
            },
            eorc_config: {
                type: 'line',
                data: {
                    labels: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017],
                    datasets: []
                },
                options: {
                    title: {
                        display: true,
                        text: 'Offer rate'
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Year'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Rate'
                            }
                        }]
                    },
                }
            },
            uni_application_config: {
                type: 'line',
                data: {
                    labels: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017],
                    datasets: []
                },
                options: {
                    title: {
                        display: true,
                        text: 'Application'
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Year'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Number'
                            }
                        }]
                    },
                }
            },
            uni_offer_config: {
                type: 'line',
                data: {
                    labels: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017],
                    datasets: []
                },
                options: {
                    title: {
                        display: true,
                        text: 'Offer'
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Year'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Number'
                            }
                        }]
                    },
                }
            },
            uni_offer_rate_config: {
                type: 'line',
                data: {
                    labels: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017],
                    datasets: []
                },
                options: {
                    title: {
                        display: true,
                        text: 'Offer rate'
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Year'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Rate'
                            }
                        }]
                    },
                }
            },
            ready_to_add_uni:'',
            added_uni:[],
        },
        delimiters: ['[[', ']]'],
        mounted: function () {
            var that = this
            that.eac_line_chart = new Chart($('#state_application_chart'), that.eac_config);
            that.eoc_line_chart = new Chart($('#state_offer_chart'), that.eoc_config);
            that.eorc_line_chart = new Chart($('#state_offer_rate_chart'), that.eorc_config);
            that.plot_enrollment_state_summary()


        },
        methods: {
            init_uni_chart: function(){
                var that = this
                that.uni_application_line_chart = new Chart($('#uni_application_chart'), that.uni_application_config);
                that.uni_offer_line_chart = new Chart($('#uni_offer_chart'), that.uni_offer_config);
                that.uni_offer_rate_line_chart = new Chart($('#uni_offer_rate_chart'), that.uni_offer_rate_config);
                that.uni_chart_inited = 1
            },
            plot_enrollment_state_summary: function () {
                var that = this
                axios.post('/enrollments_analysis', {
                    methods:'state_mean_summary'
                }).then(function (response) {
                    that.loaded_summary = response.data.result
                    var index = 0
                    for(var key in that.loaded_summary){
                        if (!that.loaded_summary.hasOwnProperty(key)) continue;
                        var color = that.colors[index % that.colors.length]
                        that.eac_config.data.datasets.push({
                            label: key,
                            data: that.loaded_summary[key]['applications_mean'],
                            fill:false,
                            borderColor: color,
                            backgroundColor: color
                        })
                        that.eoc_config.data.datasets.push({
                            label: key,
                            data: that.loaded_summary[key]['offers_mean'],
                            fill: false,
                            borderColor: color,
                            backgroundColor: color
                        })
                        that.eorc_config.data.datasets.push({
                            label: key,
                            data: that.loaded_summary[key]['offer_rates_mean'],
                            fill: false,
                            borderColor: color,
                            backgroundColor: color
                        })
                        that.eac_line_chart.update()
                        that.eoc_line_chart.update()
                        that.eorc_line_chart.update()
                        index++
                        
                    }
                        
                }).catch(function (error) {
                    console.log(error)
                })
            },
            add_plot_uni:function(){
                var that = this
                if(!that.uni_chart_inited){
                    that.init_uni_chart()
                }
                if(that.added_uni.includes(that.ready_to_add_uni.label)){
                    new Noty({
                        theme: 'sunset',
                        type: 'error',
                        text: 'University has been added',
                        timeout: 2000,
                    }).show()
                    return 
                }
                axios.post('/enrollments_analysis',{
                    methods: 'by_uni_name',
                    uni: that.ready_to_add_uni.label
                }).then(function(response){
                    result = response.data.result
                    console.log(result)
                    var color = that.colors[that.uni_application_config.data.datasets.length % that.colors.length]
                    that.uni_application_config.data.datasets.push({
                        label: that.ready_to_add_uni.label,
                        data: result.applications,
                        fill: false,
                        borderColor: color,
                        backgroundColor: color
                    })
                    that.uni_offer_config.data.datasets.push({
                        label: that.ready_to_add_uni.label,
                        data: result.offers,
                        fill: false,
                        borderColor: color,
                        backgroundColor: color
                    })
                    that.uni_offer_rate_config.data.datasets.push({
                        label: that.ready_to_add_uni.label,
                        data: result.offer_rates,
                        fill: false,
                        borderColor: color,
                        backgroundColor: color
                    })
                    that.uni_application_line_chart.update()
                    that.uni_offer_line_chart.update()
                    that.uni_offer_rate_line_chart.update()
                }).catch(function (error) {
                    new Noty({
                        theme: 'sunset',
                        type: 'error',
                        text: 'University has not enrollment record',
                        timeout: 2000,
                    }).show()
                })
                that.added_uni.push(that.ready_to_add_uni.label)
            },
            onSearch:function(search, loading){
                loading(true);
                this.search(loading, search, this);
            },
            search: _.debounce((loading, search, vm) => {
                axios.post('/uni_lists', {}).then(function (response) {
                    vm.search_options = response.data.result
                    loading(false);}).catch(function (error){
                        console.log(error)
                    })
            }, 500)
        },
        computed: {

        }
    })

    var hdr_inc_vm = new Vue({
        el:'#HDR_research_income',
        data:{
            hdr_state_mean_summary:{},
            income_state_mean_summary:{},
            hdr_income_2015_chart: {},
            hdr_income_2016_chart: {},
            colors: [
                "rgb(54, 162, 235)",
                "rgb(75, 192, 192)",
                "rgb(201, 203, 207)",
                "rgb(255, 159, 64)",
                "rgb(153, 102, 255)",
                "rgb(255, 99, 132)",
                "rgb(255, 205, 86)",
                "rgb(98, 50, 96)"
            ],
            hdr_income_2015_chart_config: {
                type: 'doughnut',
                data: {
                    labels: [],
                    datasets: []
                },
                options: {
                    title: {
                        display: true,
                        text: 'Higher Degree by Research (HDR) Student Completions and Research Income, 2015'
                    },
                    tooltips: {
                        callbacks: {
                            label: function (tooltipItem, data) {
                                var label = data.datasets[tooltipItem.datasetIndex].label || '';

                                if (label) {
                                    label += ': ';
                                }
                                label += data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                                
                                return label;
                            }
                        }
                    }
                }
            },
            hdr_income_2016_chart_config: {
                type: 'doughnut',
                data: {
                    labels: [],
                    datasets: []
                },
                options: {
                    title: {
                        display: true,
                        text: 'Higher Degree by Research (HDR) Student Completions and Research Income, 2016 '
                    },
                    tooltips: {
                        callbacks: {
                            label: function (tooltipItem, data) {
                                var label = data.datasets[tooltipItem.datasetIndex].label || '';

                                if (label) {
                                    label += ': ';
                                }
                                label += data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];

                                return label;
                            }
                        }
                    }
                }
            },

        },
        mounted:function(){
            var that = this
            that.hdr_income_2015_chart = new Chart($('#2015_hdr_income'), that.hdr_income_2015_chart_config);
            that.hdr_income_2016_chart = new Chart($('#2016_hdr_income'), that.hdr_income_2016_chart_config);
            that.load_plot_hdr()
        },
        methods:{
            load_plot_hdr:function(){
                var that = this
                axios.post('/hdr_incomes_analysis',{
                    methods:'hdr_state_mean_summary'
                }).then(function(response){
                    that.hdr_state_mean_summary = response.data.result
                    var labels = []
                    var data_2015 = []
                    var data_2016 = []
                    for (var key in that.hdr_state_mean_summary) {
                        if (!that.hdr_state_mean_summary.hasOwnProperty(key)) continue;
                        labels.push(key)
                        data_2015.push(that.hdr_state_mean_summary[key]['2015']['mean_grand_total_Non_I_and_I_weighted'])
                        data_2016.push(that.hdr_state_mean_summary[key]['2016']['mean_grand_total_Non_I_and_I_weighted'])
                    }
                    that.hdr_income_2015_chart_config.data.labels = labels
                    that.hdr_income_2016_chart_config.data.labels = labels
                    that.hdr_income_2015_chart_config.data.datasets.push({
                        data: data_2015,
                        backgroundColor:that.colors,
                        label:'HDR'
                    })
                    that.hdr_income_2016_chart_config.data.datasets.push({
                        data: data_2016,
                        backgroundColor: that.colors,
                        label: 'HDR'
                    })
                    that.hdr_income_2015_chart.update()
                    that.hdr_income_2016_chart.update()
                }).catch(function(error){
                    console.log(error)
                })

                axios.post('/hdr_incomes_analysis', {
                    methods: 'income_state_mean_summary'
                }).then(function (response) {
                    that.income_state_mean_summary = response.data.result
                    var labels = []
                    var data_2015 = []
                    var data_2016 = []
                    for (var key in that.income_state_mean_summary) {
                        if (!that.income_state_mean_summary.hasOwnProperty(key)) continue;
                        labels.push(key)
                        data_2015.push(that.income_state_mean_summary[key]['2015']['grand_total'])
                        data_2016.push(that.income_state_mean_summary[key]['2016']['grand_total'])
                    }
                    that.hdr_income_2015_chart_config.data.labels = labels
                    that.hdr_income_2016_chart_config.data.labels = labels
                    that.hdr_income_2015_chart_config.data.datasets.push({
                        data: data_2015,
                        backgroundColor: that.colors,
                        label: 'Research Income'
                    })
                    that.hdr_income_2016_chart_config.data.datasets.push({
                        data: data_2016,
                        backgroundColor: that.colors,
                        label: 'Research Income'
                    })
                    that.hdr_income_2015_chart.update()
                    that.hdr_income_2016_chart.update()
                }).catch(function (error) {
                    console.log(error)
                })
            }
        }

    })

    var mapVm = window.mapVm = new Vue({
        el:'#heatmap',
        data:{
            map:{},
            uni_locations:[],
            uni_enrollments:{}
        },
        mounted:function(){
            var that = this
            that.init_map()
        },
        methods:{
            init_map:function(){
                var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
                var labelIndex = 0;

                var that = this
                that.map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: -25.584591, lng: 133.937624 },
                    zoom: 4
                })
                //that.map.data.loadGeoJson('https://raw.githubusercontent.com/rowanhogan/australian-states/master/states.min.geojson', { idPropertyName: 'STATE' });

                var request_1 = axios.post('/uni_locations',{
                    methods:'all'
                }).then(function(response){
                    that.uni_locations = response.data.result
                }).catch(function (error) {
                        console.log(error)
                })

                var request_2 = axios.post('/enrollments_analysis', {
                    methods: 'all_uni'
                }).then(function (response) {
                    that.uni_enrollments = response.data.result
                }).catch(function (error) {
                    console.log(error)
                })

                axios.all([request_1,request_2]).then(axios.spread(function (acct, perms) {
                    var los = {}
                    that.uni_locations.forEach(function (value) {
                        var lo = new google.maps.LatLng(value['latlng'][0], value['latlng'][1])
                        los[value['address']] = lo
                        var marker = new google.maps.Marker({
                            position: lo,
                            map: that.map,
                            label: labels[labelIndex++ % labels.length]
                        });
                        var contentString = '<div id="content">' +
                            '<h5>'+value['address'] +'</h5>'+ 
                            '<br>'+
                            '<p>2017 Applications:' + that.uni_enrollments[value['address']]['applications'].slice(-1)[0] +'</p>'+
                            '<p>2017 Offers:' + that.uni_enrollments[value['address']]['offers'].slice(-1)[0] + '</p>'+
                            '<p>2017 Offer rates:' + that.uni_enrollments[value['address']]['offer_rates'].slice(-1)[0] + '</p>' +
                            '</div>';
                        var infowindow = new google.maps.InfoWindow({
                            content: contentString
                        });
                        marker.addListener('click',function(){
                            infowindow.open(that.map, marker);
                        })

                    })
                    var data = []
                    for (var key in that.uni_enrollments){
                        if (!that.uni_enrollments.hasOwnProperty(key)) continue;
                        data.push({
                            location:los[key],
                            weight: that.uni_enrollments[key]['applications'].slice(-1)[0]
                        })
                    }
                    new google.maps.visualization.HeatmapLayer({
                        data: data,
                        dissipating: false,
                        map: that.map
                    });
                }));
            },

        }
    })

</script>
{% endblock %}