<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js" integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ="
        crossorigin="anonymous"></script>
</head>
<body>
    <canvas id="myChart" width="400" height="400"></canvas>
</body>

    <script>
        var ctx = document.getElementById("myChart");
        var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets:[{
                        data:[1,2,3]
                    },{
                        data:[4,5,6]
                    }]
                }
            });
    </script>
</html>