{% extends 'base.html'%} 
{% block style %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% block content %}
<div id="graph"></div>
{% endblock %} 
{% block script %}
<script>
    Plotly.d3.json('https://raw.githubusercontent.com/rowanhogan/australian-states/master/states.min.geojson', function (bluejson) {

        Plotly.newPlot("graph", [{
            type: 'scattermapbox',
            lat: [46],
            lon: [-74]
        }], {
                title: "Florida Counties",
                height: 600,
                width: 600,
                mapbox: {
                    center: {
                        lat: 27.2,
                        lon: -84
                    },
                    style: 'light',
                    zoom: 5,
                    layers: [
                        {
                            sourcetype: 'geojson',
                            type:'line',
                            source: bluejson,
                        },
                    ]
                }
            }, {
                mapboxAccessToken: 'pk.eyJ1IjoiY2hyaWRkeXAiLCJhIjoiRy1GV1FoNCJ9.yUPu7qwD_Eqf_gKNzDrrCQ'
            });


    });
</script>
{% endblock %}