{% extends 'base.html' %}

{% block content %}
    <div id="app">
        <!-- nav -->
        <nav class="nav nav-pills nav-fill mt-2 mb-4">
            <a class="nav-item nav-link" :class="{ active: module == 'university'}"
               @click="section('university')" href="#">University</a>
            <a class="nav-item nav-link" :class="{ active: module == 'rank'}"
               @click="section('rank')" href="#">Rank</a>
            <a class="nav-item nav-link" :class="{ active: module == 'enrollment'}"
               @click="section('enrollment')" href="#">Enrollment</a>
            <a class="nav-item nav-link" :class="{ active: module == 'income'}"
               @click="section('income')" href="#">Income</a>
            <a class="nav-item nav-link" :class="{ active: module == 'completion'}"
               @click="section('completion')" href="#">Completion</a>
        </nav>

        <!-- university -->
        <div v-if="module == 'university'">
            <form>
                <div class="row">
                    <div class="col">
                        <label>University Name</label>
                        <input-university-name v-model="uniName"></input-university-name>
                    </div>
                </div>
                <button @click="queryUniversity" class="btn btn-primary mt-2" type="button">Search</button>
            </form>
            <div class="mt-4 mb-2">[[ status ]]</div>
            <table class="table table-striped" v-if="results != ''">
                <thead>
                <tr>
                    <th>University</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="result in results">
                    <td>[[ result ]]</td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- rank -->
        <div v-if="module == 'rank'">
            <form>
                <div class="row mt-2">
                    <div class="col">
                        <label>University Name</label>
                        <input-university-name v-model="rankUni"></input-university-name>
                    </div>
                    <div class="col-2">
                        <label>Operator</label>
                        <select-operator v-model="rankYearOp"></select-operator>
                    </div>
                    <div class="col-4">
                        <label>Year</label>
                        <input-field v-model="rankYear"></input-field>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2">
                        <label>Operator</label>
                        <select-operator v-model="rankWorldOp"></select-operator>
                    </div>
                    <div class="col-4">
                        <label>World Rank</label>
                        <input-field v-model="rankWorld"></input-field>
                    </div>
                    <div class="col-2">
                        <label>Operator</label>
                        <select-operator v-model="rankNationalOp"></select-operator>
                    </div>
                    <div class="col-4">
                        <label>National Rank</label>
                        <input-field v-model="rankNational"></input-field>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2">
                        <label>Operator</label>
                        <select-operator v-model="rankScoreOp"></select-operator>
                    </div>
                    <div class="col-4">
                        <label>Score</label>
                        <input-field v-model="rankScore"></input-field>
                    </div>
                    <div class="col-lg-2">
                        <label>Ascend</label>
                        <select v-model="rankOrder" class="form-control">
                            <option value="desc">DESC</option>
                            <option value="asc">ASC</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label>Order By</label>
                        <select v-model="rankOrderBy" class="form-control">
                            <option value="worldRank">World Rank</option>
                            <option value="nationalRank">National Rank</option>
                            <option value="score">Score</option>
                            <option value="year">Year</option>
                        </select>
                    </div>
                </div>
                <button @click="queryRank" class="btn btn-primary mt-2" type="button">Search</button>
            </form>
            <div class="mt-4 mb-2">[[ status ]]</div>
            <table class="table table-striped" v-if="results != ''">
                <thead>
                <tr>
                    <th>University</th>
                    <th>World Rank</th>
                    <th>National Rank</th>
                    <th>Quality of Education</th>
                    <th>Alumni Employment</th>
                    <th>Quality of Faculty</th>
                    <th>Publication</th>
                    <th>Influence</th>
                    <th>Citations</th>
                    <th>Broad Impact</th>
                    <th>Patent</th>
                    <th>Score</th>
                    <th>Year</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="result in results">
                    <td>[[ result.university ]]</td>
                    <td>[[ result.world_rank ]]</td>
                    <td>[[ result.national_rank ]]</td>
                    <td>[[ result.quality_of_education ]]</td>
                    <td>[[ result.alumni_employment ]]</td>
                    <td>[[ result.quality_of_faculty ]]</td>
                    <td>[[ result.publications ]]</td>
                    <td>[[ result.influence ]]</td>
                    <td>[[ result.citations ]]</td>
                    <td>[[ result.broad_impact ]]</td>
                    <td>[[ result.patents ]]</td>
                    <td>[[ result.score ]]</td>
                    <td>[[ result.year ]]</td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- enrollment -->
        <div v-if="module == 'enrollment'">
            <form>
                <div class="row mt-2">
                    <div class="col">
                        <label>University Name</label>
                        <input-university-name v-model="enrollUni"></input-university-name>
                    </div>
                    <div class="col-2">
                        <label>Operator</label>
                        <select-operator v-model="enrollYearOp"></select-operator>
                    </div>
                    <div class="col-4">
                        <label>Year</label>
                        <input-field v-model="enrollYear"></input-field>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2">
                        <label>Operator</label>
                        <select-operator v-model="enrollApplicationOp"></select-operator>
                    </div>
                    <div class="col-4">
                        <label>Applications</label>
                        <input-field v-model="enrollApplication"></input-field>
                    </div>
                    <div class="col-2">
                        <label>Operator</label>
                        <select-operator v-model="enrollOfferOp"></select-operator>
                    </div>
                    <div class="col-4">
                        <label>Offers</label>
                        <input-field v-model="enrollOffer"></input-field>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-2">
                        <label>Operator</label>
                        <select-operator v-model="enrollRateOp"></select-operator>
                    </div>
                    <div class="col-lg-4">
                        <label>Offer rate</label>
                        <input-field v-model="enrollRate"></input-field>
                    </div>
                    <div class="col-lg-2">
                        <label>Ascend</label>
                        <select v-model="enrollOrder" class="form-control">
                            <option value="desc">DESC</option>
                            <option value="asc">ASC</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label>Order By</label>
                        <select v-model="enrollOrderBy" class="form-control">
                            <option value="application">Application</option>
                            <option value="offer">Offer</option>
                            <option value="offerRate">Offer rate</option>
                            <option value="year">Year</option>
                        </select>
                    </div>
                </div>
                <button @click="queryEnrollment" class="btn btn-primary mt-2" type="button">Search</button>
            </form>
            <div class="mt-4 mb-2">[[ status ]]</div>
            <table class="table table-striped" v-if="results != ''">
                <thead>
                <tr>
                    <th>University</th>
                    <th>Applications</th>
                    <th>Offers</th>
                    <th>Offer rate</th>
                    <th>Year</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="result in results">
                    <td>[[ result.university ]]</td>
                    <td>[[ result.applications ]]</td>
                    <td>[[ result.offers ]]</td>
                    <td>[[ result.offer_rates ]]</td>
                    <td>[[ result.year ]]</td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- income -->
        <div v-if="module == 'income'">
            [[ module ]]
        </div>

        <!-- completion -->
        <div v-if="module == 'completion'">
            [[ module ]]
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        Vue.component('input-university-name', {
            props: ['universityName'],
            template: `
            <input :value="universityName" @input="$emit('input', $event.target.value)" class="form-control"
            placeholder="Type any part of a university name, or just keep it blank">
            `
        });

        Vue.component('input-field', {
            props: ['value'],
            template: `
            <input :value="value" @input="$emit('input', $event.target.value)" class="form-control"
            placeholder="(empty)">
            `
        });

        Vue.component('select-operator', {
            props: ['operator'],
            template: `
            <select :value="operator" @input="$emit('input', $event.target.value)" class="form-control">
                <option value="lt">&lt;</option>
                <option value="le">&lt;=</option>
                <option value="eq">=</option>
                <option value="ge">&gt;=</option>
                <option value="gt">&gt;</option>
            </select>
            `
        });

        const app = new Vue({
            el: '#app',
            data: {
                module: 'university',
                uniName: '',
                rankUni: '', rankYearOp: '', rankYear: '', rankWorldOp: '', rankWorld: '',
                rankNationalOp: '', rankNational: '', rankScoreOp: '', rankScore: '', rankOrder: '', rankOrderBy: '',
                enrollUni: '', enrollYearOp: '', enrollYear: '', enrollApplicationOp: '', enrollApplication: '',
                enrollOfferOp: '', enrollOffer: '', enrollRateOp: '', enrollRate: '', enrollOrder: '', enrollOrderBy: '',
                results: '',
                status: '',
            },
            delimiters: ['[[', ']]'],
            methods: {
                section: function (name) {
                    this.module = name;
                    this.results = '';
                    this.status = '';
                },
                queryUniversity: function () {
                    let that = this;
                    that.status = 'Query has been send.';
                    axios.get('/university?uni=' + this.uniName)
                        .then(function (response) {
                            that.status = 'Queried successfully.';
                            that.results = response.data.result;
                        })
                        .catch(function (error) {
                            that.status = 'Query failed.';
                            console.log(error);
                        });
                },
                queryRank: function () {
                    let that = this;
                    that.status = 'Query has been send.';
                    let parameters = [];
                    if (that.rankUni !== '') parameters.push('uni=' + that.rankUni);
                    if (that.rankWorld !== '') {
                        parameters.push('worldRank=' + that.rankWorld);
                        if (that.rankWorldOp !== '') parameters.push('worldRankOp=' + that.rankWorldOp);
                    }
                    if (that.rankNational !== '') {
                        parameters.push('nationalRank=' + that.rankNational);
                        if (that.rankNationalOp !== '') parameters.push('nationalRankOp=' + that.rankNationalOp);
                    }
                    if (that.rankScore !== '') {
                        parameters.push('score=' + that.rankScore);
                        if (that.rankScoreOp !== '') parameters.push('scoreOp=' + that.rankScoreOp);
                    }
                    if (that.rankYear !== '') {
                        parameters.push('year=' + that.rankYear);
                        if (that.rankYearOp !== '') parameters.push('yearOp=' + that.rankYearOp);
                    }
                    if (that.rankOrderBy !== '') {
                        parameters.push('order=' + that.rankOrderBy);
                        if (that.rankOrder === 'desc') {
                            parameters.push('desc=1');
                        }
                    }
                    let queryUrl = '/rank?' + parameters.join('&');
                    console.log(queryUrl);
                    axios.get(queryUrl)
                        .then(function (response) {
                            that.status = 'Queried successfully.';
                            that.results = response.data.result;
                            console.log(response.data.result);
                        })
                        .catch(function (error) {
                            that.status = 'Query failed.';
                            console.log(error);
                        });
                },
                queryEnrollment: function () {
                    let that = this;
                    that.status = 'Query has been send.';
                    let parameters = [];
                    if (that.enrollUni !== '') parameters.push('uni=' + that.enrollUni);
                    if (that.enrollYear !== '') {
                        parameters.push('year=' + that.enrollYear);
                        if (that.enrollYearOp !== '') parameters.push('yearOp=' + that.enrollYearOp);
                    }
                    if (that.enrollApplication !== '') {
                        parameters.push('application=' + that.enrollApplication);
                        if (that.enrollApplicationOp !== '') parameters.push('applicationOp=' + that.enrollApplicationOp);
                    }
                    if (that.enrollOffer !== '') {
                        parameters.push('offer=' + that.enrollOffer);
                        if (that.enrollOfferOp !== '') parameters.push('offerOp=' + that.enrollOfferOp);
                    }
                    if (that.enrollRate !== '') {
                        parameters.push('offerRate=' + that.enrollRate);
                        if (that.enrollRateOp !== '') parameters.push('offerRateOp=' + that.enrollRateOp);
                    }
                    if (that.enrollOrderBy !== '') {
                        parameters.push('order=' + that.enrollOrderBy);
                        if (that.enrollOrder === 'asc') {
                            parameters.push('desc=');
                        }
                    }
                    let queryUrl = '/enrollment?' + parameters.join('&');
                    console.log(queryUrl);
                    that.query(queryUrl, this);
                },
                query: function (queryUrl, handle) {
                    axios.get(queryUrl)
                        .then(function (response) {
                            handle.status = 'Queried successfully.';
                            handle.results = response.data.result;
                            console.log(response.data.result);
                        })
                        .catch(function (error) {
                            handle.status = 'Query failed.';
                            console.log(error);
                        });
                }
            }
        });
    </script>

{% endblock %}