{% extends 'base.html' %}

{% block content %}
    <div id="app">
        <!-- nav -->
        <nav class="nav nav-pills nav-fill mt-2 mb-4">
            <a class="nav-item nav-link" :class="{ active: module == 'university'}"
               @click="section('university')" href="#">University</a>
            <a class="nav-item nav-link" :class="{ active: module == 'rank'}"
               @click="section('rank')" href="#">Rank</a>
            <a class="nav-item nav-link" :class="{ active: module == 'enrollment'}"
               @click="section('enrollment')" href="#">Enrollment</a>
            <a class="nav-item nav-link" :class="{ active: module == 'income'}"
               @click="section('income')" href="#">Income</a>
            <a class="nav-item nav-link" :class="{ active: module == 'completion'}"
               @click="section('completion')" href="#">Completion</a>
        </nav>

        <!-- university -->
        <div id="university" v-if="module == 'university'">
            <form>
                <div class="row">
                    <div class="col">
                        <label for="uni">University Name</label>
                        <input v-model="uni" class="form-control"
                               placeholder="Type any part of a university name, or just keep it blank">
                    </div>
                </div>
                <button @click="queryUniversity" class="btn btn-primary mt-2" type="button">Search</button>
            </form>
            <div class="mt-4 mb-2">[[ status ]]</div>
            <table class="table table-striped" v-if="results != ''">
                <thead>
                <tr>
                    <th>University</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="result in results">
                    <td>[[ result ]]</td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- rank -->
        <div id="rank" v-if="module == 'rank'">
            [[ module ]]
        </div>

        <!-- enrollment -->
        <div id="enrollment" v-if="module == 'enrollment'">
            [[ module ]]
        </div>

        <!-- income -->
        <div id="income" v-if="module == 'income'">
            [[ module ]]
        </div>

        <!-- completion -->
        <div id="completion" v-if="module == 'completion'">
            [[ module ]]
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                module: 'university',
                uni: '',
                results: [],
                status: '',
            },
            delimiters: ['[[', ']]'],
            methods: {
                section: function (name) {
                    this.module = name;
                    this.results = [];
                    this.status = '';
                    this.uni = '';
                },
                queryUniversity: function () {
                    let that = this;
                    that.status = 'Query has been send.';
                    axios.get('/university?uni=' + this.uni)
                        .then(function (response) {
                            that.status = 'Queried successfully.';
                            that.results = response.data.result;
                            console.log(this.results);
                        })
                        .catch(function (error) {
                            that.status = 'Query failed.';
                            console.log(error);
                        });
                }
            }
        });
    </script>
{% endblock %}